body {
     padding: 0px;
     margin: 0px;
     background: #f2f6e9;
     font-family: 'Lobster', cursive;
     background-color: #337ab7;
 }
 
/* Youtube link */
.link {
  position: fixed;
  background-color: #d51919;
  padding: 15px 30px;
  right: -100px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .1s ease-in-out;
}

.link i {
  padding-left: 7px;
}

.link:hover {
  text-decoration: unset;
  background-color: rgb(253, 253, 253);
}
/*=====navbar=====*/
.navbar {
  background: #6ab446;
  font-family: 'Lobster', cursive;
}
.nav-link, .navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color : #000;   
}

.navbar-collapse {
  justify-content: flex-end;
}


.navbar-nav {
  list-style-type: none;
  display: flex;
}
.navbar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 11px ;
  font-size: 14px;
  font-weight: 700;
  transition: 0.4s all;
}

.navbar-nav li.nav-item {
  position: relative;
}

.navbar-nav li.nav-item:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.navbar-nav li.nav-item .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: 250px;
  background-color: #413f3f;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}
.navbar-nav li.nav-item .dropdown a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}
.nav-item .dropdown a:hover {
  padding-left: 30px;
}
/*-----------navbar end---------*/
  /*===========featured-image=======*/
.featured-image {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-image: url(images/banner12.png);
}

.featured-image h1 {
  font-size: 75px;
  line-height: 75px;
  text-shadow: rgb(0 0 0) 1px 1px 1px;
  font-family: Lobster, cursive;
  text-transform: capitalize;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-12 {
    width: 100%;
}
.servicepage-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #e2e2e2;
    padding: 0px;
    justify-content: center;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: #a36178;
}
.bg-heart {
    background: url(../images/hebw.png) no-repeat left center;
    width: 64px;
    height: 50px;
    float: left;
    background-position: 0 0;
    margin: 15px 0;
}
.hide {
    display: none!important;
}
.servicepage-list a {
    font-size: 15px;
    line-height: 23px;
    margin: 0;
    color: #151515;
}

a {
    color: #000;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}
.entry-title {
  font-size: 10px;
  line-height: 45px;
  color: #171717;
  font-family: 'Lobster', cursive;
}
figure {
    margin: 0;
    margin: 1em 40px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.servicepage-list img {
    height: auto;
    width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.new-box-bg {
    padding: 0 12px;
    min-height: 187px;
}
.h3, h3 {
    font-size: 24px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.servicepage-list h3 a {
    margin: 0px;
    padding: 7px 0px;
    font-size: 27px;
    color: #fff;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: block;
}

.servicepage-list a {
    font-size: 15px;
    line-height: 23px;
    margin: 0;
    color: #151515;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.servicepage-list p {
    font-size: 15px;
    line-height: 23px;
    margin: 10px 0;
    color: #fff;
}
.servicepage-list p.link-more {
    display: none;
}

.servicepage-list p {
    font-size: 15px;
    line-height: 23px;
    margin: 10px 0;
    color: #fff;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.servicepage-list a {
    font-size: 15px;
    line-height: 23px;
    margin: 0;
    color: #151515;
}
.servicepage-list a {
    font-size: 15px;
    line-height: 23px;
    margin: 0;
    color: #151515;
}

.hide {
    display: none!important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*Contact us section start*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

input {
  overflow: hidden;
}

.section-title {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Lobster', cursive;
  margin: 0 0 35px;
}

.sec-pad {
  padding: 60px 0 0;
  margin: 50px 0;
}

.contact-sec {
  display: flex;
  background-color: #5cc9ea;
}

.contact-sec .contact-ul li,
.contact-ul b {
  font-size: 20px;
  margin: 10px 0;
  font-family: 'Lobster', cursive;
  word-wrap: break-word;
}

.contact-sec .contact-ul i {
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.contact-detail a {
  color: #000;
  text-decoration: none;
}

.contact-sec .contact-ul li b:hover {
  color: #f93;
}

.contact-sec .contact-ul li .fa-location-dot {
  color: #f44337;
  border: 2px solid #f4433790;
}

.contact-sec .contact-ul li .fa-phone {
  color: #00b055;
  border: 2px solid #00b05590;
}

.contact-sec .contact-ul li .fa-envelope {
  color: #ff6347;
  border: 2px solid #ff634790;
}

.contact-detail span {
  width: 400px;
  display: flex;
  justify-content: center;
}
.contact-detail span a {
  font-size: 20px;
  padding: 6px 12px;
  color: #000;
  border-radius: 50%;
  margin: 0px 5px;
}
.contact-detail span .fb {
  color: #0051ff;
  border: 3px solid #002fff;
}
.contact-detail span .fb:hover {
  color: #fff;
  background-color: #0f48c2;
}

.contact-detail span .insta {
  color: rgb(247, 0, 255) ;
  border: 3px solid rgb(247, 0, 255);
}
.contact-detail span .insta:hover {
  color: #fff;
  background-color: rgb(247, 0, 255);
}

.contact-detail span .twitter {
  color: #ff0048;
  border: 3px solid #ff0000;
}
.contact-detail span .twitter:hover {
  color: #fff;
  background-color: #ee0000;
}

form.contFrm {
  max-width: 396px;
  margin: auto;
}

.inptFld {
  width: 100%;
  height: 50px;
  border: 0;
  margin: 0 0 10px;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 16px;
  color: #000;
}

.inptFld:focus {
  outline-offset: -4px;
  outline: 1px solid #f93;
}

.contFrm textarea {
  height: 75px;
  padding-top: 5px;
}
.inptBtn {
  height: 50px;
  border: 0;
  font-weight: bold;
  background: #00b055;
  font-size: 14px;
  color: #fff;
  margin: auto;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

/* Responcive css Start */

@media (max-width: 991px) {
  .sec-pad {
    padding: 20px 0 0px;
  }

  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 18px;
  }

  .contact-sec .contact-ul i {
    font-size: 14px;
    padding: 6px;
    margin-right: 6px;
  }

  .inptFld {
    height: 40px;
    margin: 0 0 10px;
    padding: 0 14px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .contact-detail span {
    width: auto;
  }
  .contact-detail span a {
    font-size: 18px;
    padding: 5px 10px;
    color: #000;
    border-radius: 50%;
    margin: 0px 5px 20px;
  }
}

@media (max-width: 575px) {
  .section-title {
    font-size: 26px;
    font-weight: 500;
  }
  .contact-sec {
    border-radius: 10% 10% 0% 0% / 5% 5% 0% 0%;
  }

  .contact-sec .contact-ul i {
    border: none;
  }
  .inptFld {
    height: 36px;
    margin: 0 0 8px;
    padding: 0 14px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 16px;
  }
}
/*Contact us section end*/
/* footer section start */
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
body{
  font-size:14px;
  background: #fff;
    max-width:1920px;
    margin:0 auto;
  overflow-x:hidden;
  font-family: poppins;
  

}
#footer{
  background: #f7f7f7;
    padding: 3rem;
  /* padding-top: 5rem; */
  padding-top: 7rem;
    padding-bottom: 80px;
  background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}
#footer2{
  background: #ffffff;
    padding: 3rem;
    margin-top: 0px;
  /* padding-top: 5rem; */
  padding-top: 7rem;
    padding-bottom: 80px;
  background-image: url(../images/cards/v748-toon-111.png);
}
.logo-footer{
   max-width: 300px; 
}
.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}
.social-links h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.social-links img{
  padding-bottom: 25px;
}
.social-icons{
  /* display: flex;
    gap: 3rem; */
  display: flex;
    flex-direction: column;
    gap: 1rem;
  color: #000000;
}
.social-icons a{
  /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
  color: #82074a; */
  /* margin-right: 18px; */
  color: #000000;
}
.social-icons a:hover{
  color: #000;
}
.social-icons a i{
  box-shadow: rgba(255, 34, 34, 0.08) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #f9028a;
  font-size: 16px;
  margin-right: 12px;
}
li{
  list-style: none;
}
.useful-link h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.useful-link img{
  padding-bottom: 15px;
}
.use-links{
  line-height: 32px;
}
.use-links li i{
  font-size: 14px;
    padding-right: 8px;
    color: #000000;
}
.use-links li a{
  color: #303030;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}
.use-links li a:hover{
  color: #000;
}
.address h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.address img{
  padding-bottom: 15px;
}
.address-links li a{
  color: #303030;
  font-size: 15px;
  font-weight: 500;
  color: #010101;
}
.address-links li i{
  font-size: 16px;
  padding-right: 8px;
  color: #ff0078;
}
.address-links li i:nth-child(1){
  padding-top: 9px;
}
.address-links .address1{
  font-weight: 500;
    font-size: 15px;
  display: flex;
}
.address-links{
      line-height: 32px;
      color: #000000;
}
.copy-right-sec{
  padding: 1.8rem;
    background: #82074a;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
  color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}
/* footer section end */
/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {
	background-color: #e16060;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgb(255 255 255 / 60%);
	border: 5px solid #0950e7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #003ceb;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #ffffff;
	font-family: 'Muli';
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #5eee0b;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}